* {
	padding: 0;
	margin: 0;
}

header ul li a {
	text-decoration: none;
	color: white;
	padding-top	: 10px;
}

header ul li{
	display: inline;
	margin: 0 20px 0 20px;

}

header {
	background-color: black;
	/*height: 50px;*/
	padding: 20px;
}

.main {
	font-size: 13px;
}

.main h1 {
	margin: 20px;
}

.satu,
.dua,
.tiga {
	column-count: 4;
	column-rule: 3px solid #000;
	column-gap: 20px;
	margin: 20px;
}

.footer {
	padding: 30px;
	background-color: #000;
	margin: 0 auto;
	color: white;
}

.footer h2 {
	text-align: center;
}
