header {
	background-color: #000;
	text-decoration: none;
}

header .div_menu table td a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	
}

.slider-div img{	
	margin: 20px 0 20px 0;
	text-align: center;
}

.slider-div {
	text-align: center;
}

