header {
	background-color: #000;
	text-decoration: none;
}

header .div_menu table td a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	
}

.slider-div {
	text-align: center;
}

footer {
	background-color: #000;
	text-align: center;
	color: white;
}

.footer-alamat {
	font-size: 13px;
}

